*
!.vscode
!.vscode/**
!doc
!doc/**
doc/42sh\ 3.1.pdf
doc/42sh\ 4.1.pdf
doc/42sh_eval\ (edit).pdf
doc/42sh_eval.pdf
!inc
!inc/**
!src
!src/**
!Makefile
!.valgrind.supp
!leaks
!.gitignore
!README.md
!TODO.md
